name: CI Test

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Say hello
      run: echo "Hello from GitHub Actions!"

    - name: Show Node version
      run: node --version
